##Remember to edit this file before set your Cronjob

[default]
API_KEY = Your Shodan API Key
HEC_TOKEN = Your Splunk HTTP Event Collector token
URL = https://{Splunk_server}:8088/services/collector/event
PROCNAME = /your/root/folder/where/app/resides/Stream_Shodan/main.py
COMMAND1 = ps -Af
COMMAND2 = pkill -f
COMMAND3 = nohup python3 /your/root/folder/where/app/resides/Stream_Shodan/main.py > /your/root/folder/where/app/resides/Stream_Shodan/logs/main_log.outerr 2> /your/root/folder/where/app/resides/Stream_Shodan/logs/main_log.outerr &